@*@model Kanema.Models.User
@{
    ViewBag.Title = Model.Login;
}
<h2>Пользователь @Model.Login</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Возраст</dt>
        <dd>@Model.Year</dd>
    </dl>
</div>*@